/* Styles */
#app {
  font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: auto;
}

#loginform, #registerform { 
  width: 20em;
  margin: 8em auto;
}

#registerLink {
  margin: 2em 3em auto;
}

a.active {
  color: orange;
}

.space-right {
  padding-right: 1em;
}

.border-white{
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 1em;
}

.bold-text {  
  font-weight: bold;     
}
